*{
    margin:0;
    padding:0;
}
body{
    height: 100%;
    
}

#nav
{
    height:25%;
    width: 100%;
    background-color: aqua;
}
#body
{
    height:793px;
    width: 100%;
    background-image: url("Images/wall3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blueviolet; */
}
#footer
{
    height:20%;
    width: 100%;
    background-color: bisque;
}