*{
    padding:0;
    margin: 0;
}
#main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}






.btn{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom:1%;
    flex-wrap: wrap;
   
    
}
.b_nav{
    width:85px;
    height: 34px;
    margin-left:10px;
    border: none;
    border-radius: 10%;
    background-color: #D75281;
    color: white;
    font-size: large;

}
.b_nav:hover{
    
    font-weight: bold;
    border-radius: 13%;
    background-color:rgb(255, 107, 132);
    font-size: larger;
}

#search
{
    border: 2.3px solid black;
    
}

#back
{
    background-image: url("/images/wall3.webp");
    height: 86.5%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tag1
{
    position: absolute;
    left: 190px;
    top: 300px;
    font-family: 'Dancing Script', cursive;
    color:rgb(6, 6, 6);
    font-size: 50px;;
}

.tag3
{
    position: absolute;
    left: 190px;
    top: 390px;
    font-family: 'Dancing Script', cursive;
    color:rgb(6, 6, 6);
    font-size: 50px;;
}


/* @keyframes example {
    0%   {color:red; left:50px; top:50px;}
    25%  {color:yellow; left:500px; top:50px;}
    50%  {color:blue; left:500px; top:500px;}
    75%  {color:green; left:50px; top:500px;}
    100% {color:red; left:50px; top:50px;}
  }
  

  .tag1, .tag3 {
    position: relative;
    animation-name: example;
    animation-duration: 13s;
    animation-iteration-count: infinite;
  }  */