*{
    padding:0;
    margin: 0;
    
}
#main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}






.btn{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom:1%;
    flex-wrap: wrap;
   
    
}
.b_nav{
    width:85px;
    height: 34px;
    margin-left:10px;
    border: none;
    border-radius: 10%;
    background-color: #D75281;
    color: white;
    font-size: large;

}
.b_nav:hover{
    
    font-weight: bold;
    border-radius: 13%;
    background-color:rgb(255, 107, 132);
    font-size: larger;
}

#search
{
    border: 2.3px solid black;
    
}

#back
{
    background-image: url("/images/wall3.webp");
    height: 86.5%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tag1
{
    position: absolute;
    left: 190px;
    top: 300px;
    font-family: 'Dancing Script', cursive;
    color:rgb(6, 6, 6);
    font-size: 50px;;
}

.tag3
{
    position: absolute;
    left: 190px;
    top: 390px;
    font-family: 'Dancing Script', cursive;
    color:rgb(6, 6, 6);
    font-size: 50px;;
}

#hicon
{
    color: white;
}


/* @keyframes example {
    0%   {color:red; left:50px; top:50px;}
    25%  {color:yellow; left:500px; top:50px;}
    50%  {color:blue; left:500px; top:500px;}
    75%  {color:green; left:50px; top:500px;}
    100% {color:red; left:50px; top:50px;}
  }
  

  .tag1, .tag3 {
    position: relative;
    animation-name: example;
    animation-duration: 13s;
    animation-iteration-count: infinite;
  }  */

  .pro
  {
    height: 400px;
  }
  .head
  {
    font-size: 60px;
    text-align: center;
    margin: 30px;
  }

  .blocks
  {
    height: 140px;
    width: 140px;
    background-color: darkgoldenrod;
    border-radius: 100%;
  }

  .options
  {
    margin-bottom: 200px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .blocks
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* background-image: url('/images/Mobiles/Samsung/Samsung Galaxy A53/Variant-1/Samsung Galaxy A53-128-6gb.webp');
    background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-size: 120px 120px; */
  }

  #c1
  {
    border-radius: 100%;
  }

.offers1
{
    height: 300px;

    overflow: auto;
  white-space: nowrap;
}

.o1
{
    height: 280px;
    width: 700px;
    background-color: aqua;
    border: 3px solid black;

    display: inline-block;
  
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#o11
{
    background-image: url('/images/o1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#o22
{
    width: 300px;
    background-image: url('/images/o12.png');
    background-size: 280px 340px;
    background-repeat: no-repeat;
}